:root {
  --sup-color: #757575;
  --revers-color: #ffffff;
  --main-color: #212121;
  --icon-color: #afb1b8;
  --hover-color: #2196f3;
}

#body {
  color: var(--main-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  background-color: var(--revers-color);
  letter-spacing: 0.03em;
  padding-top: 80px;
}

.content-container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .content-container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .content-container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .content-container {
    width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  .content-display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .send-container {
    margin-left: 93px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .send-container {
    margin-top: 60px;
  }
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.about {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about {
    display: block;
    padding-bottom: 94px;
  }
}

button {
  border: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon-link,
.link,
.link-example {
  text-decoration: none;
  color: var(--main-color);
}

.link {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-aktive,
.link:hover,
.link:focus {
  color: var(--hover-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media screen and (min-width: 768px) {
  .list-string {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .list-string {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 0;
  }
}

.content-container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .content-container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .content-container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .content-container {
    width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  .content-display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .send-container {
    margin-left: 93px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .send-container {
    margin-top: 60px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--revers-color);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .mobile-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 517px;
  }
  .mobile-nav .top-container .top-list {
    display: block;
  }
  .mobile-nav .top-container .top-list li a {
    margin: 0;
    padding: 0;
  }
  .mobile-nav .top-container .top-list li + li {
    margin-top: 10px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 933px;
  }
}
.mobile-nav.is-open {
  display: block;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 796px;
  padding: 48px 40px;
}
.mobile-nav-button {
  background-color: var(--revers-color);
  z-index: 3;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav-button:hover, .mobile-nav-button:focus {
  color: var(--hover-color);
}
.mobile-nav-button svg {
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .mobile-nav-button {
    display: none;
  }
}
.mobile-nav-button.is-open .nav-menu {
  display: none;
}
.mobile-nav-button.is-open .nav-close {
  display: block;
}
.mobile-nav-button .nav-close {
  display: none;
}

.menu-social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .menu-social-networks {
    display: none;
  }
}
.menu-social-networks li + li {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 10px;
}

.menu-link-network {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--hover-color);
}

@media screen and (min-width: 768px) {
  .link-aktive {
    position: relative;
  }
  .link-aktive::after {
    content: " ";
    background-color: var(--hover-color);
    height: 4px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
  }
}

.navigation li + li {
  margin-top: 32px;
}
@media screen and (max-width: 767px) {
  .navigation {
    margin-bottom: 306px;
  }
}
.navigation-style {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .navigation {
    gap: 0;
  }
  .navigation li + li {
    margin-top: 0;
    margin-left: 50px;
  }
  .navigation-style {
    font-size: 14px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--sup-color);
  -webkit-transition-property: color, font-size;
  transition-property: color, font-size;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-top:hover, .contact-top:focus {
  color: var(--hover-color);
}
@media screen and (max-width: 767px) {
  .contact-top:hover, .contact-top:focus {
    font-size: 34px;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contacts li + li {
    margin-bottom: 32px;
  }
  .contact-icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .top-phone {
    margin-left: 30px;
  }
  .contact-top {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
}
.top-icon {
  padding-top: 24px;
  padding-bottom: 25px;
  width: 134px;
}
@media screen and (min-width: 768px) {
  .top-icon {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .top-icon {
    margin-right: 93px;
    width: 145px;
  }
}

.icon-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
}
@media screen and (min-width: 1200px) {
  .icon-link {
    font-size: 26px;
  }
}

.second-half-top {
  color: #000000;
}
.second-half-bottom {
  color: var(--revers-color);
}

.half-icon {
  color: #2196f3;
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-container div {
    display: block;
  }
}
.footer-container div + div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .footer-container div + div {
    margin-top: 60px;
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container div + div {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .send-container {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

address {
  font-style: normal;
  margin-top: 20px;
}

@media screen and (max-width: 1199px) {
  .addres-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.adres-link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--revers-color);
}
.adres-item + .adres-item {
  margin-top: 9px;
}

.contact-link-bottom {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #ffffff;
}
.join-in-container {
  margin-left: 70px;
}

.join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.join-list li {
  width: 44px;
  height: 44px;
}
.join-list li + li {
  margin-left: 10px;
}

.join-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--revers-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  width: 100%;
  height: 100%;
  -webkit-transition-property: backgraund-color;
  transition-property: backgraund-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.join-link:hover, .join-link:focus {
  background-color: #2196f3;
}

.join-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.send-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--revers-color);
}

.sending-agree {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .sending-agree {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.sending-agree button {
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .sending-agree button {
    margin-top: 0;
  }
}

.typing-email {
  width: 100%;
  max-width: 450px;
  height: 50px;
  margin-right: 12px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  color: var(--revers-color);
}
@media screen and (min-width: 1200px) {
  .typing-email {
    width: 358px;
  }
}
.typing-email::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.typing-email::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.typing-email:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.typing-email::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.typing-email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.hold-to-send {
  width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--revers-color);
}

.send {
  fill: currentColor;
  margin-left: 10px;
}

.product {
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4))), url(../imiges/bacground-product.jpg), -webkit-gradient(linear, left top, left bottom, from(#c4c4c4));
  background-image: linear-gradient(rgba(47, 48, 58, 0.4) 0% 100%), url(../imiges/bacground-product.jpg), linear-gradient(#c4c4c4 0% 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-height: 600px;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .product {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.product__advertising {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--revers-color);
  margin: 0 auto 30px;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .product__advertising {
    font-size: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .product__advertising {
    width: 696px;
  }
}

.product .content-container {
  text-align: center;
}
.product__sell {
  min-width: 216px;
  min-height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--revers-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product__sell:hover, .product__sell:focus {
  background-color: #188ce8;
}

.is-hidden {
  display: none;
}

.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: relative;
  width: calc(100% - 30px);
  max-width: 450px;
  height: 609px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--revers-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 1600px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal .close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 5px 7px 7px 5px;
  cursor: pointer;
  background-color: var(--revers-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  -webkit-transition-property: border-color, color, outline;
  transition-property: border-color, color, outline;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .close:focus {
  border-color: var(--hover-color);
  color: var(--hover-color);
  outline: 1px solid var(--hover-color);
}
.modal label {
  text-align: start;
}

.close__icon {
  fill: currentColor;
}

.typing-data {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: rgba(33, 33, 33, 0.2);
  padding: 12px 42px;
  cursor: pointer;
  -webkit-transition-property: color, border, outline;
  transition-property: color, border, outline;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.typing-data:focus {
  color: var(--hover-color);
  border: 1px solid var(--hover-color);
  outline: 1px solid var(--hover-color);
}
.typing-data:focus + .icon-prompt {
  color: var(--hover-color);
  cursor: pointer;
}

.typing-coment {
  width: 100%;
  max-width: 370px;
  height: 120px;
  padding: 11.65px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: rgba(33, 33, 33, 0.2);
  resize: none;
  cursor: pointer;
  -webkit-transition-property: color, border, bordr-radius, outline;
  transition-property: color, border, bordr-radius, outline;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.typing-coment:focus {
  color: var(--hover-color);
  border: 1px solid var(--hover-color);
  border-radius: 4px;
  outline: 1px solid var(--hover-color);
}
.typing-coment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.typing-coment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.typing-coment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.typing-coment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.typing-coment::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.form-container lable {
  width: 100%;
  text-align: start;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--sup-color);
  cursor: pointer;
}
.form-container + .form-container {
  margin-top: 10px;
}

.modal__heder {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.svg-on-input {
  position: relative;
  width: 100%;
}

.icon-prompt {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: currentColor;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contract {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--hover-color);
  margin-left: 3px;
}

.agre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
  font-size: 12px;
  line-height: 1.1666666667;
  color: var(--sup-color);
  cursor: pointer;
}
@media screen and (min-width: 1600px) {
  .agre {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}
.agre .checkbox-container {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 9px;
}
.agre .checkbox-icon {
  fill: transparent;
}
.agree-checkbox:checked + .agre .checkbox-container {
  border: none;
  background-color: var(--hover-color);
}
.agree-checkbox:checked + .agre .checkbox-icon {
  fill: #ffffff;
}

.submit-form {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 52px;
  background-color: var(--hover-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  -webkit-transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--revers-color);
}
.submit-form:hover, .submit-form:focus {
  background-color: #188ce8;
}

.benefits {
  width: 100%;
  max-width: 450px;
}
@media screen and (max-width: 767px) {
  .benefits:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .benefits {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    width: 270px;
  }
  .benefits:not(:last-child) {
    margin-right: 30px;
  }
}
.benefits-name::before {
  content: " ";
  display: inline-block;
  width: 100%;
  max-width: 450px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .benefits-name::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-name::before {
    width: 270px;
  }
}
.benefits:nth-child(1) .benefits-name::before {
  content: " ";
  background-image: url(../imiges/benfit-antenna.svg), -webkit-gradient(linear, left top, left bottom, from(#f5f4fa));
  background-image: url(../imiges/benfit-antenna.svg), linear-gradient(#f5f4fa 0% 100%);
}
.benefits:nth-child(2) .benefits-name::before {
  background-image: url(../imiges/benfit-clock.svg), -webkit-gradient(linear, left top, left bottom, from(#f5f4fa));
  background-image: url(../imiges/benfit-clock.svg), linear-gradient(#f5f4fa 0% 100%);
}
.benefits:nth-child(3) .benefits-name::before {
  background-image: url(../imiges/benfit-diagram.svg), -webkit-gradient(linear, left top, left bottom, from(#f5f4fa));
  background-image: url(../imiges/benfit-diagram.svg), linear-gradient(#f5f4fa 0% 100%);
}
.benefits:nth-child(4) .benefits-name::before {
  background-image: url(../imiges/benfit-astronaut.svg), -webkit-gradient(linear, left top, left bottom, from(#f5f4fa));
  background-image: url(../imiges/benfit-astronaut.svg), linear-gradient(#f5f4fa 0% 100%);
}

.explanation {
  font-size: 14px;
  line-height: 1.71;
  color: var(--sup-color);
}

.benefits-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .benefits-name {
    text-align: center;
  }
}

.list-photo-do {
  margin-top: 50px;
}
.list-photo-do li {
  position: relative;
}
.list-photo-do li:not(:last-child) {
  margin-right: 30px;
}

.text-in-photo {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: var(--revers-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}

.list-photo-masters {
  margin-top: 50px;
}
.list-photo-masters > li:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .list-photo-masters > li:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .list-photo-masters > li:not(:last-child) {
    margin-right: 30px;
  }
}
.list-photo-masters li {
  max-width: 450px;
  background: var(--revers-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .list-photo-masters li {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .list-photo-masters li {
    width: 270px;
  }
}
.list-photo-masters li img {
  width: 100%;
  max-width: 450px;
  max-height: 460px;
}
@media screen and (min-width: 768px) {
  .list-photo-masters li img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .list-photo-masters li img {
    width: 270px;
    height: 260px;
  }
}
.list-photo-masters li h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}
.list-photo-masters li p {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--sup-color);
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: var(--sup-color);
}

.employee-position {
  width: 100%;
  max-width: 450px;
  max-height: 162px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 32px;
}
.employee-position p {
  margin-bottom: 16px;
}

.network-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  height: 44px;
  width: 206px;
  height: 44px;
}
.network-list li {
  -webkit-box-shadow: none;
          box-shadow: none;
  display: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
}

.network-link {
  width: 100%;
  height: 100%;
  display: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--icon-color);
  border-radius: 100%;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.network-link:hover {
  color: var(--revers-color);
  background-color: var(--hover-color);
}

.social-networks {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.team {
  background-color: #f5f4fa;
}

.company-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .company-list li {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .company-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
  }
  .company-list li + li {
    margin-left: 30px;
  }
}

.company-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 210px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .company-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .company-link {
    width: 170px;
  }
}
.company-link:hover, .company-link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.companys {
  fill: currentColor;
}

.micro-header {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .micro-header {
    font-size: 36px;
  }
}

.list-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .list-sorting {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .list-sorting {
    margin-bottom: 50px;
  }
}
.list-sorting li:not(:last-child) {
  margin-right: 8px;
}

.sorting-button {
  height: 38px;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  -webkit-transition-property: color, background-color, border-radius, -webkit-box-shadow;
  transition-property: color, background-color, border-radius, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow, border-radius;
  transition-property: color, background-color, box-shadow, border-radius, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sorting-button:hover, .sorting-button:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--revers-color);
}

.list-examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.list-examples li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: var(--revers-color);
  width: 100%;
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .list-examples li {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .list-examples li {
    width: 370px;
  }
}
.list-examples li img {
  width: 100%;
  max-width: 450px;
  height: 294px;
}
@media screen and (min-width: 768px) {
  .list-examples li img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .list-examples li img {
    width: 370px;
  }
}

.link-example {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-example:hover, .link-example:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-description {
  background: var(--revers-color);
  border: 1px solid #eeeeee;
  width: 100%;
  max-width: 450px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}
@media screen and (min-width: 768px) {
  .example-description {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .example-description {
    width: 370px;
  }
}

.name-example {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.type-example {
  display: block;
  font-size: 16px;
  line-height: 1.875;
  color: var(--sup-color);
}

.container-hover-overlay {
  position: relative;
  width: 100%;
  max-width: 450px;
  height: 294px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .container-hover-overlay {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .container-hover-overlay {
    width: 370px;
  }
}

.hover-overlay {
  padding: 63px 23px;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--revers-color);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-example:hover .container-hover-overlay .hover-overlay, .link-example:focus .container-hover-overlay .hover-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}/*# sourceMappingURL=main.css.map */