.benefits {
    width: 100%;
    max-width: 450px;
    @media screen and (max-width: 767px){
        &:not(:last-child){
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width: 768px) {
        width: 354px;
    }
    @media screen and (min-width: 1200px) {
        width: 270px;   
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    &-name {
        &::before {
            content: " ";
                display: inline-block;
                width: 100%;
                max-width: 450px;
                height: 120px;
                object-fit: cover;
                background-position: center;
                background-repeat: no-repeat;
                margin-bottom: 30px;
                @media screen and (min-width: 768px) {
                    width: 354px;
                }
                @media screen and (min-width: 1200px) {
                    width: 270px;
                }
        }
    }

    &:nth-child(1){
        .benefits-name{
            &::before {
                content: " ";
                background-image: url(../imiges/benfit-antenna.svg),
                linear-gradient(#f5f4fa 0% 100%);
            }
        }
    
    }

    &:nth-child(2){
        .benefits-name{
            &::before {
                background-image: url(../imiges/benfit-clock.svg),
                linear-gradient(#f5f4fa 0% 100%);
            }
        }
    }

    &:nth-child(3){
        .benefits-name{
            &::before {
                background-image: url(../imiges/benfit-diagram.svg),
                linear-gradient(#f5f4fa 0% 100%);
            }
        }
    }


    &:nth-child(4) {
        .benefits-name{
            &::before {
                background-image: url(../imiges/benfit-astronaut.svg),
                linear-gradient(#f5f4fa 0% 100%);
            }
        }
    }

}

.explanation {
    font-size: 14px;
    line-height: 1.71;
    color: var(--sup-color);
   
}

.benefits-name {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    margin-bottom: 10px;
    @media screen and (max-width: 767px) {    
        text-align: center;
    }
}
